@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
h1,
.section {
  padding-left: 1rem;
  font-family: 'DM Serif Text';
}

body {
  color: #2d2d2d; 
  font-weight: 200;
}
body{
    font-family: 'Roboto Flex', Arial, sans-serif;
}

p,
button,
input,
a {
  padding-left: 1rem;
  font-family: 'Roboto Flex';
}

p {
  text-align: center;
}

ul,
li,
span {
  font-family: 'Roboto Flex';
  text-align: center;
}
.device{
  width: 640px;
  height: 960px;
  background-color: #b0c198;
  margin: auto;
  position: relative;
  overflow-y: auto;
  text-align: center;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#profImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

#message{
    width: 250px;
    height: 100px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    padding-top: 5px;
    font-size: 20px;
    display: block;
    position: relative;
}

.deviceSetting{
  width: 640px;
  height: 960px;
  background-color: #b0c198;
  margin: auto;
  position: relative;
  overflow-y: auto;
  text-align: center;
}

.basicTabSetting{
    width: 640px;
    height: 900px;
    position:relative;
    margin:auto;
}

.tabTwoStyle{
    position: absolute;
    bottom:100px;
    right:20px;
}

.popUp{
    background-color: beige;
    width: 50%;
    height: 30px;
    margin: auto;
    text-align: center;
}


.lr-text {
    position: absolute;
    bottom: 5rem;
    right: 0;
    padding-right: .5rem;
    
}
/* This begins the CSS for the navigational part of the app */
a {
    padding-left:1rem;
    font-family: 'Roboto Flex';
}
footer {
  width: 640px;
  height: 90px;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 -6px 24px rgba(0, 0, 0, 0.35);
  background-color: #a3b18a;
}

.nav {
  flex: 1;
  color: black;
  text-decoration: none;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.nav:visited {
  color: black;
  padding-top: 0.5rem;
}

.nav-img {
  height: 55px;
  margin-bottom: 4px;
}


#nav-curr {
  background-color: whitesmoke; 
  border-radius: 5px;
}

.food-cad-header{
    text-align:center; 
    background-color: beige;
    color:black;
    font-size: 1.5rem;
    font-style: bold;
}
.no-items-header{
    text-align:center; 
    color:black;
    font-size: 1.2rem;
    font-style: bold;
}
.pantry-tab-setting{
    padding-left: 2rem;
    font-size:1.5rem;
}
.button-styling{
    font-size:1.5rem;
}
.button-styling-center{
    font-size:1.5rem;
    display: block;
    margin: 0 auto;
}
.search-bar-style{
    font-size:1.5rem;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.centerSearch{
    text-align: center;
}
.table-style{
    overflow-x: auto;
    width: 100%;
}
table {
    border-collapse: collapse;
    font-size:1.5rem;
    min-width: 850px;
    background-color: whitesmoke;
}
td {
    border: 3px solid black; 
    padding: 8px;
}
/* End of CSS for the Pantry Tab */

/* The CSS Continues Here */
#black-bg{
    text-align:center; 
    background-color:black;
    color:yellow;
    font-size: 1.5rem;
    font-style: bold;
}
#yellow-bg{
    text-align:center; 
    background-color:yellow;
    color:purple;
    font-size: 1.5rem;
    font-style: bold;
}
#tab5{
  padding-left: 2rem;
  font-size:1.25rem;
}
#profile{
    text-align: center;
}


